html body {
    /*background: #20a0ff;*/
    font-size: 14px;
}

.login-container {
    padding: 30px;
    background: #fff;
    width: 500px;
    height: 250px;
    position: absolute;
    left:0px;
    right: 0px;
    margin: 200px  auto auto;
}

/*页面头部位置start*/
.header-container {
    padding: 0 20px;
    height: 80px;
    top:0px;
    width: 100%;
    position: absolute;
    z-index: 2;
    /*background: #20a0ff;*/
    background: url("../images/header.gif");

}

.header-container .left-title {
    float:left;
    line-height: 80px;
    height: 80px;
    font-size: 34px;
    padding-left: 60px;
    background: url("../images/p.png") left center no-repeat;
    color:#fff;
}

.header-container .right-content {
    float:right;
}

.header-container .right-content li{
    float: left;
    color: #fff;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    margin: 0 10px;
    line-height: 80px;
    font-size: 16px;
}
/*页面底部位置end*/

/*页面左侧start*/
aside {
    background: #eef1f6;
    width: 250px;
    min-height: 100%;
    top:0px;
    padding-top:80px;
    position: absolute;
    z-index: 1;
    box-sizing: border-box;
}
aside .left-wrap{
    height: 100%;
    float: left;
    background:#ecf6fd;
}
/*页面左侧end*/

/*页面右侧start*/
 .right-wrap {
     background: #fff;
     width: 100%;
     height: 100%;
     overflow: auto;
     top:0px;
     padding-left:270px;
     padding-right: 20px;
     padding-top:80px;
     position: absolute;
     box-sizing: border-box;
}
.nav-wraper {
    line-height: 50px;
    height: 50px;
}
.search-wraper {
    padding-bottom: 10px;
}
.pagination-wraper {
    margin-top: 20px;
    text-align: center;
}
/*页面右侧end*/


/*公共样式start*/
.txt-center{
    text-align: center;
}
.form-btnspace{
    padding:0px 10px ;
}
/*公共样式end*/

/*面包屑导航*/

.el-breadcrumb .el-breadcrumb__inner, .el-breadcrumb .el-breadcrumb__inner a {
    font-weight: normal;
}

/*面包屑导航*/

.has-success .ant-form-explain{
    display: none;
}

.ant-form .ant-form-explain{
    color:red;
}


/*kenely-vue-start*/
*, :after, :before{
    box-sizing: border-box;
}
a {
    text-decoration: none;
    cursor: pointer;
    color:inherit;
}
a:hover {
    text-decoration: none;
}
.txt-center {
    text-align: center;
}
.loadwraper {
    line-height: 50px;
    height: 50px;
}

#app .fixed-top {
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 9999;
}


.content-shadow
{
    font-size: 14px;
    position: relative;
    overflow: hidden;
    margin: 10px;
    border-radius: 2px;
    background-color: white;
    background-clip: padding-box;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

/*面包屑导航*/
.el-breadcrumb{
    line-height: 38px;
    height: 38px;
}
.el-pagination {
    margin-top: 10px;
    text-align: center;
}

.top-bar {
    line-height: 50px;
    height: 50px;
}

.el-submenu__title {
   text-overflow:ellipsis;
   overflow:hidden
}

.el-submenu .el-menu-item {
    text-overflow:ellipsis;
    overflow:hidden
}

.code-area {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
}
.complex-code {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    width:100%;
    min-height: 100px;
    border:1px solid #52C3DD;
}

 textarea {
    background: #f8f8f8;
    border-radius: 5px;
    padding: 20px;
    width:100%;
    min-height: 100px;
    border:1px solid #52C3DD;
}

.table-data tr td {
    padding: 10px;
}
